@font-face {font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.icon-work:before { content: "\eac9"; }
.icon-project:before { content: "\eaf4"; }
.icon-phone:before { content: "\ec7a"; }
.icon-stars:before { content: "\ed32"; }
.icon-star:before { content: "\ed1d"; }
.icon-person:before { content: "\ec88"; }
.icon-librarybooks:before { content: "\ebf9"; }
.icon-education:before { content: "\ebca"; }
.icon-create:before { content: "\eaf8"; }
.icon-call:before { content: "\eab6"; }
.icon-weixin:before { content: "\3488"; }
.icon-build:before { content: "\eaa2"; }
.icon-edit:before { content: "\eb31"; }
.icon-flower:before { content: "\ec0a"; }
.icon-playlistadd:before { content: "\ecae"; }
.icon-delete:before { content: "\e61b"; }
.icon-trophy:before { content: "\e80b"; }

span {
    display: inline-block;
}

.label-value{
    width: 200px;
    vertical-align: top;
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:1.1em;font-style:normal;
    color:inherit;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    color: #333;
    line-height: 1.5;
}

ul, li {
    margin: 0;
    padding: 0;
    font-size: normal;
}

em {
    font-style: normal;
}

body {
    background-color: lightslategray;
    color: #333;
    font-family: sans-serif, Microsoft Yahei, Helvetica Neue;
    zoom: 80%;
    font-size: 18px;
}

p {
    line-height: 1.5;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 1050px;
    background-color: white;

}

.main {
    position: relative;;
    min-height: 100%;
    padding: 20px;

}

.common-header {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.common-header p {
    font-size: 18px;
}

.common-header em {
    margin: 0 10px;
}

.my-name {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
}

.info-unit {
    margin-bottom: 15px;
}

.info-header {
    font-size: 22px;
    font-weight: bold;
    border-bottom: 3px solid #333;
    line-height: 2;
    margin-bottom: 10px;
}

.unit-item-list {
    padding-left: 20px;
}

.info-item {
    list-style: disc;
    line-height: 1.8;
}

.sub-unit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 0 10px;
}

.sub-unit.title {
    background-color: #3C8DEE;
    color: #fff;
    font-size: 20px;
}

.sub-unit.content {
    margin-top: 3px;

}

table.project-table {
    table-layout: fixed;
    width: 100%;
    margin-top: 15px;
}

tr.mat-header-row {
    height: 50px;
}

th.mat-header-cell,
td.mat-cell {
    padding: 14px 10px;
    line-height: 12px;
    font-size: 18px;
    text-align: left;
    vertical-align: middle;
}

th.mat-header-cell {
    background: #F5F5F5;
    border-right: 1px solid #FFF;
    border-bottom: none;
    text-align: center;
    font-weight: bold;
}

td.mat-cell {
    border-bottom: 1px solid #EBEBEB;
    color: #121A2C;
}

th.mat-header-cell:first-of-type {
    padding-left: 20px;
}

th.mat-header-cell:last-of-type {
    padding-right: 20px;
}

ul li {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
}

.experience-list,
.project-list {
    padding: 0;
    margin-top: 5px;
}

.experience-list .item-remove {
    position: absolute;
    right: 2px;
    top: 0px;
    margin-right: 2px;
    visibility: hidden;
    cursor: pointer;

}

.experience-title {
    font-size: 18px;
    line-height: 32px;
    color: #333;
}

.project-item h3 {
    color: #333;
}

.experience-title span {
    float: right;
}

.project-list .project-item {
    list-style-type: disc;
    margin-left: 20px;
}

.project-item p {
    margin-top: 5px;
}

.project-item .sub-title {
    color: #607d8b;
    font-weight: bold;
}

.intro-item {
    margin-top: 25px;
}

.intro-item.first {
    margin-top: 15px;
}

.project-item .role {
    margin-top: 5px;
    color: #607d8b;
    font-weight: bold;
}

.stack-list .item-remove {
    position: absolute;
    right: 2px;
    top: 0px;
    margin-right: 2px;
    visibility: hidden;
    cursor: pointer;

}


